/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-related-content {
	padding-top: var(--wp--preset--spacing--large);
	padding-bottom: var(--wp--preset--spacing--large);
	background-color: var(--wp--preset--color--neutral);
}

.wp-block-create-block-related-content h2 {
	font-size: var(--wp--preset--font-size--large);
	text-align: center;
	color: var(--wp--preset--color--charcoal)!important;
	font-weight: bold;
	padding-bottom: var(--wp--preset--spacing--medium);
}

.wp-block-create-block-related-content ul{
	max-width: var(--wp--style--global--wide-size);
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	gap: var(--wp--custom--spacing--gap);
	padding-left: var(--wp--custom--spacing--gap);
	padding-right: var(--wp--custom--spacing--gap);
}

@media (max-width:800px) {

	.wp-block-create-block-related-content ul {
		flex-direction: column;
	}

}

.wp-block-create-block-related-content li{
	list-style-type: none;
	flex-basis: 30%;
	padding-bottom: var(--wp--preset--spacing--small);	
}

.wp-block-create-block-related-content li .related-example-image {
	width: 100%;
	aspect-ratio: 16/9;
	background-color: var(--wp--preset--color--charcoal);
}
